.gitignore
.deps
*.o
/stamp-h1
/Makefile
/nbproject/private/CodeAssistancePathMapper.properties
/config.status
/config.log
/oscbridge
/autom4te.cache/traces.0
/nbproject/project.xml
/autom4te.cache/traces.1
/nbproject/private/Default-exec.log
/config.h
/nbproject/private/private.xml
/nbproject/configurations.xml
/nbproject/private/Default-build.log
/aclocal.m4
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/output.0
/nbproject/private/Default.properties
/nbproject/private/launcher.properties
/nbproject/private/configurations.xml
